<html>
  <head>
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <div>
        <h1>You're now logged in</h1>
        <img
          src="https://cdn.discordapp.com/attachments/851074889725378573/1069586221887668254/image0.gif"
          alt="Login GIF"
        />
        <br />
        <a href="logout">Click here to logout</a>
      </div>
    </div>
  </body>
</html>
